@charset "UTF-8";

html, body {
	height: 100%;
}

.container {
	width: 1200px;
	height: 100%;
	margin: auto;
}

header {
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 30px;
}

header > .header-left {
	display: flex;
	align-items: flex-end;
	
}

header > .header-left > .header-logo-home {
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -4px;
	line-height: 100%;
	margin-right: 4px;
}

header > .header-left > .header-logo-page {
	font-size: 25px;
	font-weight: 500;
	line-height: 100%;
}

header > .header-right {
	display: flex;
	align-items: flex-end;
}

header > .header-right > .header-nav > .nav > .nav-item > .nav-link {
	line-height: 100%;
	padding-bottom: 0;
	color: black;
	font-weight: 500;
}

.container > .content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container > .content > .user-box {
	width: 280px;
}

.container > .content > .create-post {
	width: 1000px;
	height: 700px;
	margin-top: 30px;
}

.container > .content > .create-post > .postForm > .post-title {
	margin-bottom: 10px;
	border-bottom: solid 1.5px gray;
}

.container > .content > .create-post > .postForm > .post-content {
	border-bottom: solid 1.5px gray;
}

.container > .content > .create-post > .postForm > .post-upload {
	height: 60px;
	display: flex;
	justify-content: space-between;
}

.container > .content > .create-post > .postForm > .post-upload > .post-upload-files {
	width: 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.container > .content > .create-post > .postForm > .post-upload > .post-upload-files > .selectImgae > .imgBtn {
	display: inline-block;
	width: 200px;
}

.container > .content > .create-post > .postForm > .post-upload > .post-upload-buttons {
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container > .content > .post-box {
	width: 1000px;
	margin-top: 30px;
}

.container > .content > .post-box > .post-list {
	width: 100%;
	height: 300px;
	background: yellow;
}

.container > .content > .post-box > .post-list > .list-table {

}

.container > .content > .post-box > .post-view {
	width: 100%;
	height: 500px;
	background: green;
}











































